body {
  background-color: #282c34;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.signIn{
  background-image: url('/Users/arajkumar/Desktop/fantasy-streaming-application/fantasy-streaming-tool/src/images/joseph-barrientos-oQl0eVYd_n8-unsplash (1).jpg');
  background-size : "cover";
  width: 100%;
  height: 100vh
}

.signInButton{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.App header {
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}


button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: #111;
}

.title {
  margin-top: 5%;
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}
