@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  color:black;
  line-height: 1.6;
  min-width:200px;        /* Suppose you want minimum width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:200px;   
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,h2 {
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 10px 0;
} 
p{
  margin: 10px 0;
}
img{
  width: 100%;
}

.button {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 100px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 22px;
}

/* SignInPage */
.sign-in-page{
  display:flex;
  flex-direction:column;
}
.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: inherit;
}

.signInButton{
  text-align: center;
  padding:25px;
}

/* header */
.logo {
  letter-spacing: 10px;
  font-size: 100px;
  line-height: .75;
  margin: 10px 0;
  padding: 5px;
}
.sign-in-header {
  color:black;
  padding-top: 20vh;
}

/* icons */
.modal-icons {
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 22px;
}

.icon-flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}

.icon-flex .fa {
  font-size: 50px;
  color:black;
}

.icon-flex:hover{
  opacity: 0.4;
  transform: scale(1.25)
}

.sign-in-body{
  flex:1;
  display: flex;
}

.container .showcase-text {
  display: grid;
  place-items: center center;
  text-align: center;
}

.data {
  color: white;
  justify-content: center;

}

 .drop_down {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
} 


.yahoo-button{
  color: #fff !important;
  background: #60a3bc;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor:pointer;
}
.yahoo-button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
  }

/* Main Page */
.navbar .flex {
  flex-direction: row;
  justify-content: space-between;
}
.navbar {
  background-color: lightseagreen;
  color: white;
}
.signOutButton{
color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
cursor:pointer;
}

.signOutButton:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
}
  
.text-center {
  text-align: center;
}

.dropdown-menu .container {
  max-width: 2500px!important;
  height:100%;
}
.dropdown-heading {
  padding: 25px;
}

.dropdown-menu .flex {
  flex-flow: row wrap;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 10px;
}

.item {
  flex: 0 1 500px;
  display: flex;
  flex-direction: column;
  margin:0 60px;
  align-self: stretch;
}
.submit-btn
{
color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 10px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
cursor:pointer;
margin-bottom: 10px;
}

.submit-btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
  }

/* TopPlayerGrid */
.playerGrid
{
  /* background-color: lightcyan; */
  padding: 20px 0;
  flex:1
}

.player-grid
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  flex-flow: column wrap;
  gap: 10px;
  height: 100%;
  justify-content: center;
  padding: 25px;
}

.playerGrid .container
{
  max-width: 2000px!important;
}

.player-card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-header{
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
  flex: 1 1 auto;
  min-height: 300px;
  padding: 1.25rem;
}

.uniform-lines {
  line-height: 1;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}



@media only screen and (max-width: 630px) {

.sign-in-header {
  color:black;
  padding-top: 40 px;
}
}

